.App {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20%;
  position: relative;
}

.brand {
  font-size: 7vw;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15)
}

.searchBar {
  width: 50%;
  margin: 0 auto 20px;
}

.resultsWrapper {
  position: relative;
}

.stats {
  width: 500px;
  height: 300px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, .3);
}

.closeStats {
  position: absolute;
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  top: 3px;
  right: 3px;
}

.pieLine {
  height: 270px;
}

.pieHolder {
  width: 50%;
  display: inline-block;
}

.pieLegend {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  box-sizing: border-box;
}

.legendItem {
  text-align: right;
  margin-bottom: 5px;
}

.legendItem p {
  display: inline-block;
  margin: 0 15px 0 0;
}

.colorBlock {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, .4);
  vertical-align: middle;
}

@media only screen and (max-width: 800px) {
  .searchBar {
    width: 80%;
  }
  .brand {
    top: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .pieLegend, .pieHolder {
    display: block;
    width: 100%;
  }
  .stats {
    height: 450px;
    width: 90%;
  }
}